@import "src/assets/styles/main";

.about {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  height: 100vh;
  position: relative;
  z-index: 2;

  @include display-1024 {
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
  }

  &__textWrapper {
    max-width: 50%;
    margin-left: 40px;

    @include display-1024 {
      max-width: 100%;
      margin-top: 100px;
    }

    .text {
      position: relative;
      line-height: 25px;
      margin: 40px 0 80px 0;
      font-family: 'Noto Serif', sans-serif;
      letter-spacing: 1px;

      @include display-1200 {
        margin-left: 10px;
      }

      @include display-1024 {
        margin-left: 0;
        padding-right: 10px;
      }
      // tag p open
      &:before {
        content: "<p>";
        @include tagBefore(-20px, -20px);
      }

      // tag p close
      &:after {
        content: "<p/>";
        @include tagAfter(-20px, -30px);
      }
    }

    h2 {
      position: relative;
      text-align: center;

      // tag h2 open
      &:before {
        content: "<h2>";
        @include tagBefore(-20px, -10px);
      }

      // tag h2 close
      &:after {
        content: "<h2/>";
        @include tagAfter(-20px, -20px);
      }
    }

    .hobby {
      ul {
        position: relative;
        padding-top: 10px;

        li {
          display: flex;
          margin-top: 10px;
          padding-left: 20px;

          img {
            transform: translateY(2px);
            margin-right: 10px;
          }
        }

        // tag ul open
        &:before {
          content: "<ul>";
          @include tagBefore(-20px, 10px);
        }

        // tag ul close
        &:after {
          content: "<ul/>";
          @include tagAfter(-20px, -25px);
        }
      }
    }
  }

  &__imgWrapper {
    display: flex;
    justify-content: end;
    align-self: end;
    max-width: 400px;

    @include display-1024 {
      justify-content: center;
      align-self: center;
    }

    .portrait {
      animation: portrait 3s ease forwards 1.8s;
      width: 100%;

      @include display-1024 {
        max-width: 80%;
      }
    }
  }


  // body tag open
  &:before {
    content: "<body>";
    @include tagBefore(20px, 20px);

    @include display-1024 {
      left: 30px;
    }
  }

  // body tag close
  &:after {
    content: "<body/>";
    @include tagAfter(20px, 20px);

    @include display-1024 {
      left: 30px;
    }
  }
}
