@import "src/assets/styles/imports";

.projects {
  margin-top: 30px;

  &__title {
    text-align: center;
    color: $bannerBtnText;
    margin-bottom: 30px;
  }

  .project__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    @include display-1200 {
      flex-direction: column;
      align-items: center;
    }

    .project {
      width: 40%;
      padding: 20px;
      background-color: $experienceBackground;
      border-radius: 4px;
      color: $bannerBtnText;
      letter-spacing: 1px;

      @include display-1200 {
        max-width: 100%;
        width: 80%;
        margin-top: 20px;
      }

      @include display-768 {
        margin: 30px 60px 0 0;
      }

      &__role {
        margin: 6px 0;
      }

      &__tools {
        margin: 6px 0;
      }
    }
  }
}
