@import "src/assets/css/mixin";
@import "src/assets/css/colors";
@import "src/assets/css/animations";

.form {
  display: flex;
  padding: 30px 30px 30px 140px;
  flex-wrap: wrap;
  position: relative;
  margin-top: 20px;
  justify-content: space-between;

  input, textarea {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
  }

  .name {
    flex: 1 45%;
    margin-right: 5px;
  }

  .email {
    flex: 1 45%;
    margin-left: 5px;
  }

  .message {
    flex: 1 0 100%;
    margin-top: 10px;
    height: 150px;
  }

  .submit {
    margin-top: 30px;
    background-color: transparent;
    padding: 10px 40px;
    border-radius: 4px;
    border: 1px solid white;
    letter-spacing: 4px;
    font-size: 20px;
    color: white;
    transition: 1s ease;

    &:hover {
      color: black;
      background-color: white;
      transition: 1s ease;
    }
  }

  &:before {
    @include tagBefore;
    content: "<form>";
    top: 0;
    left: 100px;
  }

  &:after {
    @include tagAfter;
    content: "<form/>";
    bottom: -10px;
    left: 100px;
  }
}
