@import "src/assets/css/mixin";
@import "src/assets/css/colors";
@import "src/assets/css/animations";

.form {
  display: flex;
  padding: 30px 30px 30px 140px;
  flex-wrap: wrap;
  position: relative;
  margin-top: 20px;
  justify-content: space-between;

  @include display-1200 {
    padding: 30px 30px 30px 10%;
  }

  @include display-480 {
    padding: 30px 0 30px 0;
  }

  input, textarea {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 10px;
  }

  .name {
    flex: 1 45%;
    margin-right: 5px;

    @include display-768 {
      margin-right: 0;
      flex-basis: 100%;
    }
  }

  .email {
    flex: 1 45%;
    margin-left: 5px;

    @include display-768 {
      margin-left: 0;
      flex-basis: 100%;
    }
  }

  .message {
    flex: 1 0 100%;
    height: 150px;
  }

  .submit {
    margin-top: 30px;
    background-color: transparent;
    padding: 10px 40px;
    border-radius: 4px;
    border: 1px solid white;
    letter-spacing: 4px;
    font-size: 20px;
    color: white;
    transition: 1s ease;

    &:hover {
      color: black;
      background-color: white;
      transition: 1s ease;
    }
  }

  &:before {
    @include tagBefore(100px, 0);
    content: "<form>";

    @include display-1024 {
      left: 30px;
    }
  }

  &:after {
    @include tagAfter(100px, -10px);
    content: "<form/>";

    @include display-1024 {
      left: 30px;
    }
  }
}
