@import "src/assets/css/mixin";
@import "src/assets/css/colors";
@import "src/assets/css/animations";

.skills {
  width: 100%;
  min-height: 100vh;
  display: flex;
  color: white;

  @include display-960 {
    flex-direction: column;
    height: 100%;
    padding-bottom: 100px;
  }

  &__textContent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;


    @include display-960 {
      width: 100%;
      margin-top: 130px;
    }

    .text {
      position: relative;
      text-align: center;
      font-size: 22px;
      line-height: 28px;
      padding-left: 30px;

      @include display-1200 {
        font-size: 19px;
      }

      @include display-960 {
        padding-left: 100px;
        padding-right: 50px;
      }

      @include display-480 {
        font-size: 14px;
        padding-left: 60px;
        padding-right: 40px;
        line-height: 26px;
      }

      &:before {
        @include tagBefore(60px, -30px);
        content: "<p>";
      }

      &:after {
        @include tagAfter(60px, -30px);
        content: "<p/>";
      }
    }
  }

  &__skillsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    padding: 10px;

    @include display-960 {
      width: 100%;
    }

    ul {
      overflow-x: hidden;
      max-width: 500px;
      width: 100%;
      margin-top: 70px;
      padding-bottom: 30px;

      @include display-768 {
        padding: 0 30px 30px 30px;
      }


      .skillItem {
        position: relative;
        padding: 10px;
        animation: skillsListOpen 1s ease-in-out 1.3s;
        transform: translateX(-120%);
        animation-fill-mode: forwards;

        &__levelLine {
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          height: 5px;
          width: 100%;
          background-color: $skillsLineCurrentLevel;
          border-radius: 4px;
          animation: skillsListOpen 1s ease-in-out 2.5s;
          transform: translateX(-120%);
          animation-fill-mode: forwards;
        }

        &:before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          height: 5px;
          width: 100%;
          background-color: $skillsLineDefault;
          border-radius: 4px;
          z-index: 5;
          animation: skillsListOpen 1s ease-in-out 2.0s;
          transform: translateX(-120%);
          animation-fill-mode: forwards;
        }

      }
    }
  }

  &:before {
    @include tagBefore(200px, 40px);
    content: "<body>";

    @include display-1024 {
      top: 60px;
      left: 20px;
    }
  }

  &:after {
    @include tagAfter(200px, 40px);
    content: "<body/>";

    @include display-1024 {
      bottom: 30px;
      left: 20px;
    }
  }
}
