@import "src/assets/css/colors";
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  height: 100vh;
  background-color: $headerBackground;
  border-right: 1px solid $header-border;
  z-index: 99;
}
