@import "src/assets/css/colors";
@import "src/assets/css/animations";

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  height: 100vh;
  background-color: $headerBackground;
  border-right: 1px solid $header-border;
  z-index: 99;
  overflow: hidden;
  animation: headerView 1s ease-in-out;

  .downloadCV-link{
    position: absolute;
    bottom: 20px;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid white;
    padding: 10px;
  }
}
