@import "src/assets/css/colors";
@import "src/assets/css/animations";
@import "src/assets/css/mixin";


.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  height: 100vh;
  background-color: $headerBackground;
  border-right: 1px solid $header-border;
  z-index: 99;
  overflow: hidden;
  animation: headerView 1s ease-in-out;
  animation-fill-mode: forwards;


  @include display-1024 {
    left: -120%;
    transition: .5s ease-in-out;

    &.open {
      left: 0;
      transition: .5s ease-in-out;
    }
  }

  .downloadCV {
    position: absolute;
    bottom: 20px;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid white;
    padding: 10px;

    & > a {
      color: white;
    }
  }
}
