@import "src/assets/styles/imports";

.about {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  min-height: 100vh;

  @include display-1024 {
    flex-direction: column-reverse;
  }

  &__textWrapper {
    max-width: 50%;
    margin-left: 40px;

    @include display-1024 {
      max-width: 100%;
    }

    .text {
      position: relative;
      line-height: 25px;
      margin: 40px 0 80px 0;
      font-family: 'Noto Serif', sans-serif;
      letter-spacing: 1px;

      @include display-1200 {
        margin-left: 10px;
      }

      @include display-1024 {
        margin-left: 0;
        padding-right: 10px;
      }
      // tag p open
      &:before {
        content: "<p>";
        @include tagBefore(-20px, -20px);
      }

      // tag p close
      &:after {
        content: "<p/>";
        @include tagAfter(-20px, -30px);
      }
    }

    h2 {
      position: relative;
      text-align: center;

      // tag h2 open
      &:before {
        content: "<h2>";
        @include tagBefore(-20px, -10px);
      }

      // tag h2 close
      &:after {
        content: "<h2/>";
        @include tagAfter(-20px, -20px);
      }
    }

    .hobby {
      ul {
        position: relative;
        padding-top: 10px;

        @include display-1024 {
          margin-bottom: 80px;
        }

        li {
          display: flex;
          margin-top: 10px;
          padding-left: 20px;

          img {
            transform: translateY(2px);
            margin-right: 10px;
          }
        }

        // tag ul open
        &:before {
          content: "<ul>";
          @include tagBefore(-20px, -20pxpx);
          @include display-1200 {
            display: none;
          }
        }

        // tag ul close
        &:after {
          content: "<ul/>";
          @include tagAfter(-20px, -25px);
          @include display-1200 {
            display: none;
          }
        }
      }
    }
  }

  &__imgWrapper {
    display: flex;
    justify-content: center;

    .portrait {
      animation: portrait 1.5s ease-in-out forwards 1.8s;

      @include display-1024 {
        max-width: 60%;
      }
    }
  }


  // body tag open
  &:before {
    content: "<body>";
    @include tagBefore(190px, 20px);

    @include display-1024 {
      left: 30px;
    }
  }

  // body tag close
  &:after {
    content: "<body/>";
    @include tagAfter(190px, 20px);

    @include display-1024 {
      left: 30px;
    }
  }
}
