@import "src/assets/css/mixin";
@import "src/assets/css/colors";
@import "src/assets/css/animations";

.jobs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 50px 20px 0 20px;

  &__title {
    text-align: center;
    color: $bannerBtnText;
  }

  .allJobs {
    display: flex;
    justify-content: space-evenly;

    &__wrapper {
      width: 300px;
      padding: 20px 40px;
      background-color: $experienceBackground;
      height: auto;
      border-radius: 4px;
      margin-top: 30px;
      letter-spacing: 2px;
      color: $bannerBtnText;

      @include display-1024 {
        padding: 20px 30px;
      }

      @include display-768 {
        margin: 30px 10px 0 10px;
      }

      .position {

      }

      .company {
        font-weight: 500;
        margin: 5px 0;
      }

      .period {
        font-weight: 300;
        font-size: 15px;
      }

      .location {
        margin-top: 5px;
      }
    }
  }

}
