@import "src/assets/css/mixin";
@import "src/assets/css/colors";
@import "src/assets/css/animations";

.experience {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;

  .title {
    flex: 1 0 100%;
    text-align: center;

  }

  &__jobBlock {
    padding: 20px 40px;
    background-color: $experienceBackground;
    height: auto;
    border-radius: 4px;
    margin-top: 30px;
    font-family: 'Noto Serif', serif;
    letter-spacing: 2px;

    @include display-1024 {
      padding: 20px 30px;
    }

    @include display-768{
      margin: 30px 10px 0 10px;
    }

    .position {

    }

    .company {
      font-weight: 500;
      margin: 5px 0;
    }

    .period {
      font-weight: 300;
      font-size: 15px;
    }

    .location {
      margin-top: 5px;
    }
  }

}
