@import "assets/css/colors";
@import "assets/css/mixin";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

.test {
  font-family: 'La Belle Aurore', cursive;
}

button {
  cursor: pointer;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

input, textarea {
  border: none;

  &:focus {
    border: none;
  }
}

.main {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: $main-background;
  padding-left: 150px;
  overflow: hidden;

  &:before {
    content: "<html>";
    @include tagBefore;
    top: 10px;
    left: 160px;

  }

  &:after {
    content: "<html/>";
    @include tagAfter;
    bottom: 10px;
    left: 160px;
  }
}


