@import "assets/css/colors";
@import "assets/css/mixin";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

.test {
  font-family: 'La Belle Aurore', cursive;
}

button {
  cursor: pointer;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Noto Serif',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

input, textarea {
  border: none;

  &:focus {
    border: none;
  }
}

.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: $main-background;
  padding-left: 150px;
  overflow: hidden;

  @include display-1200 {
  //  height: 100%;
  }

  @include display-1024 {
    padding-left: 0;
    transition: 1s ease-in-out;

    &.blur {
      width: 100%;
      position: absolute;
      top: 0;
      right: 0;
      filter: blur(3px);
      transition: .5s ease-in-out;
    }
  }

  &:before {
    content: "<html>";
    @include tagBefore(160px, 10px);

    @include display-1024{
      left: 0;
      top: $mobileHeaderHeight;
    }
  }

  &:after {
    content: "<html/>";
    @include tagAfter(160px, 10px);

    @include display-1024{
      left: 0;
      bottom: 0;
    }
  }
}

.inProgress {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;

  h2 {
    font-size: 60px;
  }
}

