@import "src/assets/styles/main";

.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: $main-background;
  padding-left: 150px;
  overflow: hidden;

  @include display-1200 {
    height: 100%;
  }

  @include display-1024 {
    padding-left: 0;
    transition: .5s ease-in-out;

    &.blur {
      width: 100%;
      position: absolute;
      top: 0;
      right: 0;
      filter: blur(3px);
      transition: .5s ease-in-out;
      z-index: 3;
    }
  }

  @include displayHeight-550 {
    height: max-content;
    overflow-y: auto;
  }

  // html tag open
  &::before {
    content: "<html>";
    @include tagBefore(160px, 0px);

    @include display-1024 {
      left: 0;
    }
  }

  // html tag close
  &:after {
    content: "<html/>";
    @include tagAfter(160px, 0px);

    @include display-1024 {
      left: 0;
      bottom: 0;
    }
  }
}