@import "src/assets/styles/main";

.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 70%;
    width: 100%;
    height: fit-content;
    padding: 20px 40px;
    background-color: $experienceBackground;
    border-radius: 8px;
    margin-top: 30px;
    color: $bannerBtnText;

    .title {
      font-weight: 400;
    }
  }

  // body tag open
  &:before {
    content: "<body>";
    @include tagBefore(190px, 20px);

    @include display-1024 {
      left: 30px;
    }
  }

  // body tag close
  &:after {
    content: "<body/>";
    @include tagAfter(190px, 20px);

    @include display-1024 {
      left: 30px;
    }
  }
}