@import "src/assets/styles/main";

.skills {
  display: flex;
  width: 100%;
  height: 100vh;
  color: white;
  z-index: 5;
  position: relative;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px 50px 10px 50px;

    @include display-768 {
      padding: 30px 20px 10px 20px;
    }

    .title {
      text-align: center;
    }

    ul {
      width: 100%;
      padding: 30px 10px;
      position: relative;
      overflow-x: hidden;

      li {
        overflow-x: hidden;
      }

      @include display-768 {
        padding: 0 30px 30px 30px;
      }

      // body tag open
      &:before {
        content: "<ul>";
        @include tagBefore(0px, 0px);
      }

      // body tag close
      &:after {
        content: "<ul/>";
        @include tagAfter(0px, -10px);
      }
    }
  }

  // body tag open
  &:before {
    content: "<body>";
    @include tagBefore(20px, 20px);
  }

  // body tag close
  &:after {
    content: "<body/>";
    @include tagAfter(20px, 20px);
  }
}


