@import "src/assets/css/colors";
@import "src/assets/css/mixin";
@import "src/assets/css/animations";

.banner {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $bannerTextColor;

  @include display-960 {
    padding: 0 10px;
  }

  @include displayHeight-550{
    margin-bottom: 100px;
  }

  // main title - h1
  &__title {
    position: relative;
    margin-left: 100px;
    font-size: 64px;
    letter-spacing: 4px;
    padding: 10px;
    font-weight: 700;

    @include display-960 {
      padding: 0;
      margin-left: 40px;
    }

    @include display-768 {
      font-size: 36px;
    }

    @include display-480 {
      margin-bottom: 40px;
      margin-left: 30px;
      font-size: 6vw;
    }

    @include displayHeight-550 {
      margin-top: 80px;
    }

    span {
      transition: all 0.8s ease-out;
      display: inline-block;

      &:hover {
        color: $bannerTitleHover;
        animation: bannerText 1s;
        transition: all 0.8s ease-out;
      }
    }

    &:before {
      content: "<h1>";
      @include tagBefore(-10px, -20px);
      font-size: 16px;
      font-weight: 500;

      @include display-480 {
        font-size: 3vw;
      }
    }

    &:after {
      content: "<h1/>";
      @include tagAfter(-10px, -30px);
      font-size: 16px;
      font-weight: 500;

      @include display-480 {
        font-size: 3vw;
      }
    }
  }


  &__subTitle {
    padding: 10px;
    position: relative;
    margin-left: 100px;
    margin-top: 60px;
    letter-spacing: 4px;
    display: block;
    color: $bannerSubTitle;

    @include display-960 {
      margin-left: 40px;
      margin-top: 50px;
    }

    @include display-480 {
      padding: 0;
      font-size: 4vw;
      margin-left: 30px;
    }

    &:before {
      content: "<p>";
      @include tagBefore(-10px, -25px);
      font-size: 16px;

      @include display-480 {
        font-size: 3vw;
      }
    }

    &:after {
      content: "<p/>";
      @include tagAfter(-10px, -30px);
      font-size: 16px;

      @include display-480 {
        font-size: 3vw;
      }
    }
  }

  // btn "contact me" style
  &__contact {
    position: relative;
    margin-left: 100px;
    margin-top: 80px;
    display: flex;

    @include display-960 {
      margin-left: 40px;
    }

    @include display-480 {
      margin-left: 20px;
      letter-spacing: 2px;
    }

    .btn {

      @include display-480 {
        font-size: 3vw;
        letter-spacing: 2px;
      }

      &:before {
        content: "<button>";
        font-size: 16px;
        @include tagBefore(-10px, -30px);

        @include display-480 {
          font-size: 3vw;
        }
      }

      &:after {
        content: "<button/>";
        font-size: 16px;
        @include tagAfter(-10px, -40px);

        @include display-480 {
          font-size: 3vw;
        }
      }
    }
  }

  // phone block
  .phone {
    position: absolute;
    transform: translate(70%, -24%);
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    padding: 10px 20px;
    width: fit-content;

    &__number {
      display: inline-block;
      color: white;
      font-family: "Noto Serif", serif;
      font-size: 30px;
      text-align: center;

      @include display-480 {
        font-size: 4vw;
      }
    }
  }

  // body tag open
  &:before {
    content: "<body>";
    @include tagBefore(190px, 20px);

    @include display-1024 {
      left: 30px;
    }
  }
  // body tag close
  &:after {
    content: "<body/>";
    @include tagAfter(190px, 20px);

    @include display-1024 {
      left: 30px;
    }
  }
}



