@import "src/assets/css/mixin";
@import "src/assets/css/colors";
@import "src/assets/css/animations";


.projects {
  margin-top: 30px;


  &__title {
    text-align: center;
    color: $bannerBtnText;

  }

  .project-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .project {
      max-width: 500px;
      padding: 20px;
      background-color: $experienceBackground;
      border-radius: 4px;
      color: $bannerBtnText;
      letter-spacing: 1px;

      &__role {
        margin: 6px 0;
      }

      &__tools {
        margin: 6px 0;
      }


    }
  }
}