$tagColor: rgba(239, 243, 178, 0.49);
$AllTextColor: #ffffff;

// header , nav-bar
$headerBackground: #181818;
$nav-bar: #909096;
$logo-text: #fff;
$header-border: #282828;
$main-background: #1d1d1d;

// banner

$bannerSubTitle: #8d8d8d;
$bannerBtnText: rgb(255, 255, 255);
$bannerBtnBackground: transparent;
$bannerBtnBorder: #fff;
$bannerBtnHoverText: #000;
$bannerBtnHoverBackground: #fff;
$bannerTitleHover: #6ef8c6;
$bannerTextColor: #fff;

// skills

$skillsLineDefault: rgba(65, 65, 65, 0.42);
$skillsLineCurrentLevel: rgba(128, 239, 75, 0.76);

// experience

$experienceBackground: rgba(69, 72, 72, 0.54);

// Contact
$contactTextColor : #fff;

// buttons
$btnIsOpenBack: #fff;
$dontCallBack: #fa6161;
$dontCallText: #9efa61;
