$tagColor: rgba(239, 243, 178, 0.37);

// header , nav-bar
$headerBackground: #181818;
$nav-bar: #909096;
$logo-text: #fff;
$header-border: #282828;

$main-background: #1d1d1d;

// banner

$bannerSubTitle: #8d8d8d;
$bannerBtnText: #fff;
$bannerBtnBackground: transparent;
$bannerBtnBorder: #fff;
$bannerBtnHoverText: #000;
$bannerBtnHoverBackground: #fff;
