@import "src/assets/css/colors";
@import "src/assets/css/mixin";
@import "src/assets/css/animations";



.btn {
  position: relative;
  letter-spacing: 4px;
  width: fit-content;
  padding: 10px 20px;
  background-color: $bannerBtnBackground;
  color: $bannerBtnText;
  border: 1px solid $bannerBtnBorder;
  border-radius: 4px;
  transition: 1s ease;

  &:hover {
    color: $bannerBtnHoverText;
    background-color: $bannerBtnHoverBackground;
    transition: 1s ease;
  }

  &.btnIsOpen {
    background-color: $btnIsOpenBack;
    color: $bannerBtnHoverText;
  }
}

.defaultText{
  font-family: 'Noto Serif', sans-serif;
  letter-spacing: 1px;
}


.slide-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .toolsItem {
    max-width: 100px;
  }
}