@import "src/assets/css/colors";

$mobileHeaderHeight: 40px;

@mixin display-1200 {
  @media (max-width: 1200px) {
    @content
  }
}

@mixin  display-1024 {
  @media (max-width: 1024px) {
    @content
  }
}

@mixin display-960 {
  @media (max-width: 960px) {
    @content
  }
}

@mixin display-768 {
  @media (max-width: 768px) {
    @content
  }
}

@mixin display-480 {
  @media (max-width: 480px) {
    @content
  }
}

@mixin display-320 {
  @media (max-width: 320px) {
    @content
  }
}

@mixin tagBefore($left:0,$top:0) {
  font-family: 'La Belle Aurore', cursive;
  color: $tagColor;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  left: $left;
  top: $top;
}

@mixin tagAfter($left:0,$bottom:0) {
  font-family: 'La Belle Aurore', cursive;
  color: $tagColor;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  left: $left;
  bottom: $bottom;
}

